.category_products .container {
  display: flex;
  flex-direction: column;
}

.top_slide {
  width: 100%;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .products {
    justify-content: center;
  }
}